<div class="main_container">
    <div class="header_container"></div>
    <div class="content_container">
        <div class="tool_bar">
            <div class="routing_button" [routerLink]="'profile'">Профиль</div>
            <div class="routing_button" [routerLink]="'feed'">Новости</div>
            <div class="routing_button" *ngIf="authService.isLogin" [routerLink]="'customFeed'">Ваши рекомендации</div>
            <div class="routing_button" *ngIf="authService.isLogin" [routerLink]="'create'">Создать новость</div>
            <div class="routing_button" *ngIf="authService.isLogin" (click)="logout()">Выйти</div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
