.main_container {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px #111111;
}

.header_container {
    width: 90%;
    height: 45px;
    background-color: #0366d6;
    margin: auto;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.content_container {
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
}

.tool_bar {
    margin-top: 26px;
    font-size: 18px;
    width: 20%;
    height: 100%;
    border: 2px #111111;
}

.content {
    width: 80%;
    height: 100%;
}

.routing_button {
    cursor: pointer;
}